/*Logo Circle*/
.own-logo {      
    animation: cirlce 2.5s ease-in-out infinite;
}

@keyframes cirlce {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}